<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">My Issues Name</h3>
  </div>
  <div class="panel-body">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices vel sapien et euismod. Cras placerat et eros quis ultrices. Donec scelerisque velit nunc, eget fringilla risus condimentum sed. Pellentesque eu ultrices quam. Cras eget tortor ac mauris imperdiet adipiscing. Morbi fringilla et est non condimentum. Suspendisse vulputate arcu nibh, non adipiscing arcu luctus quis. Fusce non augue diam. Cras posuere, purus in tincidunt molestie, ipsum nisl tempus eros, ac faucibus turpis ante at enim. Aliquam erat volutpat. Suspendisse dapibus sem sed mollis convallis. Etiam lobortis iaculis mattis. Fusce cursus vehicula felis, et aliquet diam tempus ac. Vestibulum mattis, felis non aliquam semper, tellus diam volutpat ipsum, ac auctor metus est ac sapien.
  </div>
  <div class="panel-footer">Panel footer</div>
</div>