<div id="orgs_filter" class="panel panel-default input_filter">

  <div class="panel-heading">

      <!-- Refresh Action -->
      <span class="octicon octicon-organization"></span>Orginizations
      <a ng-click="refresh(true)">
        <i ng-class="{'animated': loading}" class="faa-spin glyphicon glyphicon-refresh pull-right text-muted"></i>
      </a>

  </div>

  <div class="panel-body">

      <!-- Selected Org Tag -->
      <div ng-show="org">
          <!-- Clear Org Selection -->
          <button type="button" ng-click="clear()" class="close">×</button>
          <img ng-src="{{org.image}}" alt="{{org.title}}" class="org_icon"> {{org.title}}
      </div>

      <!-- Org Select List -->
      <angucomplete-alt
        ng-hide="org"
        placeholder="Search..."
        pause="100"
        selected-object="org"
        local-data="orgs"
        search-fields="login"
        clear-selected="true"
        title-field="login"
        image-field="avatar_url"
        minlength="1"
        match-class="repo_match"
        input-class="form-control form-control-small"
      ></angucomplete-alt>

  </div>

</div>
