<div id="repos_filter" class="panel panel-default input_filter ng-cloak">

  <div class="panel-heading">

      <span class="octicon octicon-repo"></span>Repositories

      <!-- Refresh Action -->
      <a ng-click="load(true)" ng-hide="repo" title="Update Repos">
        <i ng-class="{'animated': loading}" class="faa-spin glyphicon glyphicon-refresh pull-right text-muted"></i>
      </a>

      <!-- Clear Action -->
      <a ng-href="/issues" ng-show="repo">
        <i class="glyphicon glyphicon-remove pull-right text-muted"></i>
      </a>

  </div>

  <div class="panel-body">

      <!-- Selected Repo Tag -->
      <div ng-show="repo" class="btn btn-primary btn-block">{{repo}}</div>

      <!-- Repo Select List -->
      <angucomplete-alt
        ng-hide="repo"
        placeholder="Search..."
        pause="100"
        selected-object="repo"
        local-data="repos"
        search-fields="name"
        title-field="name"
        clear-selected="true"
        minlength="1"
        match-class="repo_match"
        input-class="form-control form-control-small"
      ></angucomplete-alt>

  </div>

</div>
