<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>GitHub Issues</title>
    <meta name="description" content="">

    <!-- build:css(.) styles/vendor.css -->
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="bower_components/bootswatch/spacelab/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css" />
    <link rel="stylesheet" href="bower_components/github-markdown-css/github-markdown.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>

  <body ng-app="githubIssuesApp" ng-controller="MainCtrl">

      <!-- Header -->
      <!-- <div ng-include="'views/header.html'"></div> -->

      <nav ng-if="oauth.isSignedIn()" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="/">GitHub Issues</a>
          <button href="" class="btn btn-link navbar-btn pull-right" ng-click="oauth.signOut()">
            <span class="octicon octicon-sign-out"></span>
          </button>
        </div>
      </nav>

      <!--[if lt IE 9]>
        <p id="browsehappy" class="text-center lead bg-danger">
          You are using an outdated browser. Please <a href="http://browsehappy.com/" target="_blank"><u>upgrade your browser</u></a> to improve your experience.
        </p>
      <![endif]-->

      <!-- Main Container -->
      <!-- <div class="continer-fluid" role="main"> -->
      <div class="container" role="main">

        <!-- Log In Form -->
        <div ng-if="!oauth.isSignedIn()" class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-center text-left-md">
                <h1>
                  GitHub Issues<br/>
                  <small>Subtext for header</small>
                </h1>
              </div>
              <div class="col-md-4 text-center signin">
                <button type="button" class="btn-lg btn-primary" ng-click="oauth.signIn()"><span class="mega-octicon octicon-mark-github"></span>Sign In</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Angular Route Render -->
        <div ng-view="" ng-if="oauth.isSignedIn()"></div>

        <!-- Footer -->
        <footer>
          <hr/>
          <div class="row">
            <div class="col-xs-12">

              <ul class="list-inline">

                <li class="pull-right"><a href="" ng-click="top()">Back to top</a></li>
                <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
                <li><a href="https://twitter.com/thomashpark">Twitter</a></li>
                <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                <li><a href="../help/#api">API</a></li>
                <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=F22JEM3Q78JC2">Donate</a></li>

              </ul>
              <p>
                Made by <a href="http://thomaspark.me" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>. Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.
              </p>

            </div>
          </div>

        </footer>


      </div>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/github.js"></script>
        <script src="scripts/services/oauth.js"></script>
        <script src="scripts/directives/issue.js"></script>
        <script src="scripts/directives/paginate.js"></script>
        <!-- endbuild -->

  </body>
</html>
